*:focus {
  outline: none;
}

html, body {
  background-color: #fafafa;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.250em;
}

body {
  padding: 15px 30px;
}

input {
  display: block;
  width: 240px;
  height: 30px;
  margin-bottom: 15px;
  padding: 5px 8px;
  font-size: 16px;
  border: 1px solid #fcccfc;
  border-radius: 3px;
}

hr {
  display: block;
  max-width: 400px;
  margin: 34px 0;
  border-top: 1px solid #fcccfc;
  border-bottom: 1px solid #ccfffa;
}

ol {
  padding-left: 18px;
}

ol li {
  margin-bottom: 2px;
  padding-left: 10px;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

ul li {
  background-color: #ccfffa;
  margin-bottom: 4px;
  padding: 12px;
  text-align: right;
  border: 1px solid #fcccfc;
}

.alerts {
  position: absolute;
  top: 50px;
  right: 50px;
}

.button {
  display: inline-block;
  background-color: #99bbfa;
  margin-right: 8px;
  padding: 10px 20px;
  color: #ffffaa;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  background-color: #aaccfa;
}